.cell-hyphens {
    word-wrap: break-word;
    max-width: 200px;
    -webkit-hyphens: auto; /* iOS 4.2+ */
    -moz-hyphens: auto; /* Firefox 5+ */
    -ms-hyphens: auto; /* IE 10+ */
    hyphens: auto;
 }
 
 .wait-modal {
     display:    none;
     position:   fixed;
     z-index:    1000;
     top:        0;
     left:       0;
     height:     100%;
     width:      100%;
     background: rgba( 255, 255, 255, .8 )
                 url('../images/ajax-loader.gif')
                 50% 50%
                 no-repeat;
 }
 
 /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
 body.loading .wait-modal {
     overflow: hidden;
 }
 
 /* Anytime the body has the loading class, our
    wait-modal element will be visible */
 body.loading .wait-modal {
     display: block;
 }

 .tooltip-inner {
    text-align: left;
    font-size: smaller;
    white-space: pre-wrap;
 }

.custom-tooltip {
    --bs-tooltip-bg: black;
    --bs-tooltip-color: var(--bs-white);
    --bs-tooltip-max-width: 600px;
}

.tooltip-trigger {
    text-decoration: none;
    color: brown;
}


.popover-content {
    font-size: smaller;
    white-space: pre-wrap;
}

 
.custom-popover {
    --bs-popover-max-width: 276px;
    --bs-popover-font-size: small;
}

.popover-trigger {
    text-decoration: none;
    color: rgb(224, 73, 73);
}
