{% extends '_base.html' %}
{% load static %}


{% block content %}

{% include '_navbar.html' %}


<div class="container">
    <div class="row">
        <div class="col-xxl-6 col-lg-8 col-12 bg-info py-2 text-dark bg-opacity-10">
            <form id="createVSForm" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" name="vsName" id="vsName" placeholder="Virtual Server Name" required>
                            <!--<label for="vsName">Virtual Server Name</label>
                            <div id="vsHelp" class="form-text">example.yapikredi.com.tr</div>-->
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label for="vServerConfigSelect" class="form-label" style="font-size: 12px;">VServer Config Type:</label>
                                <select class="form-select form-select-sm" name="vServerConfigSelect" id="vServerConfigSelect" aria-label="Select VServer Protocol" onchange="displayVSFields(this.value)">
                                    <option value="waf" selected>WAF</option>
                                    <option value="http">HTTP</option>
                                    <option value="ssl">SSL</option>
                                    <option value="tcp">TCP</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="vsPort" class="form-label" style="font-size: 12px;">Virtual Server Port:</label>
                                <input type="text" class="form-control form-control-sm" name="vsPort" id="vsPort" placeholder="Virtual Server Port" required>
                            </div>
                        </div>

                        <div id="sslProfileDiv" class="form-floating">
                            <input type="text" class="form-control" name="sslProfile" id="searchContent" list="searchDatalistOptions" placeholder="Value">
                            <label id="searchContentLabel" for="searchContent">Client SSL Profile</label>
                            <datalist id="searchDatalistOptions"></datalist>
                        </div>

                        <div id="redirectHttpsCheckDiv" class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="redirectHttpsCheck" value="yes" id="redirectHttpsCheck">
                            <label class="form-check-label" for="redirectHttpsCheck">
                            Create HTTP to HTTPS Redirect VS
                            </label>
                        </div>

                        <div class="mb-2 mt-2 form-floating">
                            <input type="text" class="form-control form-control-sm" name="vsIpAddr" id="vsIpAddr" placeholder="Virtual Server IP Address" required> 
                            <label for="vsIpAddr" class="form-label">Virtual Server IP Address:</label>
                        </div>

                        <div id="wafSvcIpDiv" class="mb-2 form-floating">
                            <input type="text" class="form-control form-control-sm" name="wafSvcIpAddr" id="wafSvcIpAddr" placeholder="WAF Service IP Address">
                            <label for="wafSvcIpAddr" class="form-label">WAF Service IP Address:</label>
                        </div>

                        <div id="wafRetIpDiv" class="form-floating">
                            <input type="text" class="form-control form-control-sm" name="wafRetIpAddr" id="wafRetIpAddr" placeholder="WAF Return IP Address">
                            <label for="wafRetIpAddr" class="form-label">WAF Return IP Address:</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="card bg-info text-dark bg-opacity-25 mt-2">
                            <div class="card-body">


                                <div class="row mb-4">
                                    <div class="col-md-8">
                                        <label for="serviceProtoSelect" class="form-label" style="font-size: 14px;">Backend Service Protocol:</label>
                                        <select class="form-select form-select-sm" name="serviceProtoSelect" id="serviceProtoSelect" aria-label="Select Backend Service Protocol">
                                            <option value="http" selected>HTTP</option>
                                            <option value="ssl">SSL</option>
                                            <option value="tcp">TCP</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>

                                <!--Services Start -->

                                <div class="row">
                                    <div class="col-md-12">
                                    <p class="h6">Service Count: <span id="serviceCountDisplay"></span></p>
                                    <input type="range" class="form-range" id="serviceCountSlide" name="scount" step="1" min="1" max="5" value="1" onchange="displayServices(this.value)">
                                    </div>
                                </div>
                
                                <div id="serviceBlock1" style="display:block;">
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-1" name="serv_ip[]" placeholder="Service 1 IP Address" maxlength="15">
                                    </div>
                        
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-3" name="serv_port[]" placeholder="Service 1 Port" maxlength="15">
                                    </div>
                        
                                    </div>
                                </div>
                                
                                <div id="serviceBlock2" style="display:none;">

                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-1" name="serv_ip[]" placeholder="Service 2 IP Address" maxlength="15">
                                    </div>
                        
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-3" name="serv_port[]" placeholder="Service 2 Port" maxlength="15">
                                    </div>
                        
                                    </div>
                                
                                </div>
                                <div id="serviceBlock3" style="display:none;">

                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-1" name="serv_ip[]" placeholder="Service 3 IP Address" maxlength="15">
                                    </div>
                        
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-3" name="serv_port[]" placeholder="Service 3 Port" maxlength="15">
                                    </div>
                        
                                    </div>
                                
                                </div>
                                <div id="serviceBlock4" style="display:none;">

                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-1" name="serv_ip[]" placeholder="Service 4 IP Address" maxlength="15">
                                    </div>
                        
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-3" name="serv_port[]" placeholder="Service 4 Port" maxlength="15">
                                    </div>
                        
                                    </div>
                                
                                </div>
                                <div id="serviceBlock5" style="display:none;">

                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-1" name="serv_ip[]" placeholder="Service 5 IP Address" maxlength="15">
                                    </div>
                        
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-sm mb-3" name="serv_port[]" placeholder="Service 5 Port" maxlength="15">
                                    </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row mb-4 mt-2">
                            <div class="col-md-4">
                                <label for="persistenceSelect" class="form-label" style="font-size: 14px;">Persistence:</label>
                                <select class="form-select form-select-sm" name="persistenceSelect" id="persistenceSelect" aria-label="Select Persistence">
                                    <option value="none" selected>None</option>
                                    <option value="source_addr">Source Address</option>
                                    <option value="cookie">Cookie</option>
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <label for="lbMethodSelect" class="form-label" style="font-size: 14px;">LB Method:</label>
                                <select class="form-select form-select-sm" name="lbMethodSelect" id="lbMethodSelect" aria-label="Select Load Balancing Method">
                                    <option value="round-robin" selected>Round Robin</option>
                                    <option value="least-connections-member">Least Connections</option>
                                    <option value="fastest-app-response">Least Response Time</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-4 px-2">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="submit" id="createVSBtn" class="btn btn-primary start w-100">
                                    <i class="loading-icon spinner-border spinner-border-sm visually-hidden"></i> &nbsp;
                                    <span id="btnText">Submit</span>
                                </button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div><!--row-->
            </form>

        </div>
        <div class="col-xxl-6 col-lg-4 col-12 ">
            <div id="successDiv">
                {% if success %}
			        {% for msg in success %}
			        <div class="alert alert-success alert-dismissable">
				        {{ msg }}
			        </div>
			        {% endfor %}
		        {% endif %}
            </div>
            <div id="errorDiv">
                {% if errors %}
			        {% for error in errors %}
			        <div class="alert alert-danger alert-dismissable">
				        {{ error }}
			        </div>
			        {% endfor %}
		        {% endif %}
            </div>
        </div>
    </div>


</div>
<script>

    function displayVSFields(answer) {

        if (answer == "ssl") { 

            $('#sslProfileDiv').slideDown();
            $('#redirectHttpsCheckDiv').slideDown();
            $('#wafSvcIpDiv').slideUp();
            $('#wafRetIpDiv').slideUp();

        } else if (answer == "waf") { 

            $('#sslProfileDiv').slideDown();
            $('#redirectHttpsCheckDiv').slideDown();
            $('#wafSvcIpDiv').slideDown();
            $('#wafRetIpDiv').slideDown();

        } else if  (answer == "http" || answer == "tcp") {
            $('#sslProfileDiv').slideUp();
            $('#redirectHttpsCheckDiv').slideUp();
            $('#wafSvcIpDiv').slideUp();
            $('#wafRetIpDiv').slideUp();
        }
    }

    function displayServices(answer) {

        document.getElementById('serviceBlock1').style.display = "none";
        document.getElementById('serviceBlock2').style.display = "none";
        document.getElementById('serviceBlock3').style.display = "none";
        document.getElementById('serviceBlock4').style.display = "none";
        document.getElementById('serviceBlock5').style.display = "none";

        if (answer == 1) { // hide the div that is not selected

          document.getElementById('serviceBlock1').style.display = "block";

        } else if (answer == 2) { // hide the div that is not selected

          document.getElementById('serviceBlock1').style.display = "block";
          document.getElementById('serviceBlock2').style.display = "block";

        } else if (answer == 3) { // hide the div that is not selected

          document.getElementById('serviceBlock1').style.display = "block";
          document.getElementById('serviceBlock2').style.display = "block";
          document.getElementById('serviceBlock3').style.display = "block";

        } else if (answer == 4) { // hide the div that is not selected

          document.getElementById('serviceBlock1').style.display = "block";
          document.getElementById('serviceBlock2').style.display = "block";
          document.getElementById('serviceBlock3').style.display = "block";
          document.getElementById('serviceBlock4').style.display = "block";

        } else if (answer == 5) { // hide the div that is not selected

          document.getElementById('serviceBlock1').style.display = "block";
          document.getElementById('serviceBlock2').style.display = "block";
          document.getElementById('serviceBlock3').style.display = "block";
          document.getElementById('serviceBlock4').style.display = "block";
          document.getElementById('serviceBlock5').style.display = "block";

        }
      }
    // change value on slider
    let serviceCountSlide = document.getElementById("serviceCountSlide");
    let serviceCountDisplay = document.getElementById("serviceCountDisplay");
    serviceCountDisplay.innerHTML = serviceCountSlide.value;
    serviceCountSlide.oninput = function() {
        serviceCountDisplay.innerHTML = this.value;
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}